langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain_google_genai
sentence-transformers
chromadb
pypdf
anthropic
fastapi
uvicorn
python-multipart
streamlit